[submodule "r2p2"]
	path = r2p2
	url = git@github.com:DwyaneLi/r2p2.git
[submodule "raft"]
	path = raft
	url = git@github.com:DwyaneLi/raft.git
[submodule "lancet-tool"]
	path = lancet-tool
	url = git@github.com:DwyaneLi/lancet-tool.git
[submodule "distbenchr"]
	path = distbenchr
	url = git@github.com:DwyaneLi/distbenchr.git
[submodule "redis"]
	path = redis
	url = git@github.com:DwyaneLi/redis.git
